<% if @users.empty? %>
    <h3>No Users are found.</h3>
<% else %>
    <table class="table table-striped">
      <thead>
      <th>User</th>
      <th>Action</th>
      </thead>
      <tbody>
      <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= link_to 'Profile', user_path(user) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
